src/probmodel/main/schemas/AdditionalProperties.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	
	<!-- complexType definition -->
	<xs:complexType name="AdditionalProperties">
		<xs:sequence>
			<xs:element name="Property" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" />
		<xs:attribute name="value" type="xs:string" />
	</xs:complexType>
</xs:schema>

