src/probmodel/main/schemas/Agent.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	
	<!-- complexType definition -->
	<xs:complexType name="Agent">
		<xs:sequence>
			<xs:element name="AdditionalProperties" minOccurs="0" maxOccurs="1" />
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" />
	</xs:complexType>
</xs:schema>

