src/probmodel/main/schemas/Constraint.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	
	<!-- imports -->
	<xs:include schemaLocation="Argument.xsd" />
	
	<!-- complexType definition -->
	<xs:complexType name="Constraint">
		<xs:sequence>
			<xs:element name="Argument" minOccurs="0" maxOccurs="unbounded" type="Argument" />
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" />
	</xs:complexType>
</xs:schema>

