src/probmodel/main/schemas/State.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	
	<!-- complexType definition -->
	<xs:complexType name="State">
		<xs:attribute name="name" type="xs:string" use="optional" />
		<xs:attribute name="numericValue" type="xs:integer" use="optional"/>
	</xs:complexType>
</xs:schema>

