src/main/schemas/Coordinates.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	
	<!-- complexType definition -->
	<xs:complexType name="Coordinates">
		<xs:attribute name="x" type="xs:integer" />
		<xs:attribute name="y" type="xs:integer" />
	</xs:complexType>
</xs:schema>

